section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inicioParagrafo {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

}

section h1 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--Rosa-escuro);
}


.inicioParagrafo p {
  font-family: 'Agbalumo', sans-serif;
  text-align: center;
  font-size: 1.065rem;
  width: 90%;
  margin-inline: auto;
  color: var(--Rosa-escuro);
}

.inicioParagrafo h3 {
  font-family: 'Agbalumo', sans-serif;
  text-align: center;
  color: var(--Rosa-Forte);
}