@import './global-css/fonts.css';
@import './global-css/global.css';

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.65rem;
  border-bottom: 3px solid hsl(286, 54%, 42%);
  background-color: var(--Rosa-Forte);
}

.logo_header{
  text-shadow: 2px 1px 2px var(--Rosa-Fraco);
}

.header_list{
  display: flex;
  gap: 0.65rem;
  list-style: none;
}

a{
  font-family: "Agbalumo", sans-serif;
  text-decoration: none;
  
  color: var(--Preto);
}

a:hover{
  color: var(--Rosa-Fraco);
  cursor: pointer;
}
